code[class*="language-"] {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background: $background;
    color: $foreground;
}

.token {
    &.punctuation {
        color: $foreground;
    }

    &.comment {
        color: $comment;
    }

    &.string {
        color: $string;
    }

    &.function {
        color: $function;
    }

    &.class-name {
        color: $class-name;
    }

    &.doctype, &.prolog {
        color: $doctype;
    }

    &.keyword {
        color: $keyword;
    }

    &.preprocessor.property {
        color: $preprocessor-property;

        .keyword {
            color: $preprocessor-property;
        }
    }

    &.selector {
        color: $css-selector;
    }

    &.atrule {
        color: $atrule;
    }

    &.tag {
        color: $markup-tag;
    }

    &.attr-name {
        color: $attr-name;
    }

    &.attr-value {
        color: $markup-attr-value;
    }
}

// CSS
code[class*="language-css"] {
    color: $css-foreground;

    .token {

        &.property {
            color: $css-property;
        }

        &.string {
            color: $css-foreground;
        }
    }
}

// Markup
code[class*="language-markup"] {
    .token {
        &.punctuation {
            color: $markup-punctuation;
        }
    }
}
