$background: #1E1E1E;
$foreground: #DCDCDA;

// C#
$comment: #23A658;
$string: #EA9D78;
$function: #A0D7A7;
$class-name: #13C9C6;
$keyword: #439CE2;
$preprocessor-property: #9B9B99;

// Css
$atrule: $keyword;
$css-foreground: #C8C8C6;
$css-selector: #D8BA76;
$css-property: #67DCFF;

// Markup (HTML, XML)
$doctype: $class-name;
$markup-tag: $keyword;
$attr-name: #87DCFF;
$markup-punctuation: #80807F;
$markup-attr-value: $css-foreground;

@import "_prism-vs";
